<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="Otvoreni budžet">
    <meta name="author" content="Nenad Golubović">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap -->
   
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <%- style %>
    
    <style>
        <% if(locals.userstatus === true) { %>
        @media (min-width: 980px) {
          body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
          }
        <% } else { %>
        @media (min-width: 980px) {
          body {
                padding-top: 30px; /* 30px to make the container go all the way to the bottom of the topbar */
            }
          }
        <% } %>
        @media (max-width: 767px) {
          body {
                padding-top: 10px; /* 10px to make the container go all the way to the bottom of the topbar */
            }
          }
    </style>
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ga.js"></script>
    <% //if(locals.userstatus == true) { %>
        <%- script %>
    <% // } %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <% if(locals.userstatus === true) {
        if(locals.userrole >= 50) {
     %>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Otvoreni budžet</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Početna</a></li>
              <li><a href="/data/update">Izmjene</a></li>
              <% if(locals.userrole >= 100) { %>
              <li><a href="/data/setup">Podešavanja</a></li>
              <li><a href="/users">Korisnici</a></li> 
              <% } %>
              
              <li><a href="/logout">Odjavi se</a></li>
            </ul>
            <ul class="nav pull-right">
                <li>
                 <a href="#" class="navbar-link"><strong style="color: white"><%- signs[userrole] %></strong> <%= username  %></a>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% } } %>  
    <div class="container">
        <% //if(locals.userstatus == true) { %>
            <%- body %>
            
        <% //}%>
        <% //if(locals.userstatus != true) { %>
        <!--
        <div class="row">
            
            <div class="span12">
                
            </div>
        </div>-->
        <% //} %>
    </div>
    <!-- fork me -->
    <a href="https://github.com/nenadg/otvoreni-budzet"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  </body>
  
</html>

